@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap");

:root {
  --primary-font: "Lobster", cursive;
  --secondary-font: "Poppins", sans-serif;
  --primary-background: #e3e6e9;
}

body {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  background-color: var(--primary-background);
}

.btn {
  background-color: #fafafa;
  border: 1px solid rgb(63, 63, 243);
  color: rgb(63, 63, 243);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.special-skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.card-body h3 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: #333;
}

.navbar {
  filter: blur(0px);
  font-family: Lato, sans-serif;
  background: linear-gradient(
    black 17%,
    rgb(14, 14, 14) 46%,
    rgb(14, 14, 14) 60%,
    rgb(35, 35, 35) 73%,
    rgb(35, 35, 35) 84%,
    rgb(51, 51, 51) 95%
  );
  box-shadow: 10px 10px;
}

.Project-Swiper {
  width: 75%;
  height: 75%;
  margin: auto;
}

.Project-Swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  min-height: 240px;
  max-height: 400px;
}

.social-icons .fa {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.social-icons .fa:hover {
  color: rgb(0, 153, 255);
}

.portfolio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  overflow: hidden;
  max-width: 100%;
}

#Skills {
  background-color: #fafafa;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.zoom-on-hover {
  height: 75vh;
  object-fit: scale-down;
  width: 100%;
}

.skills h5 {
  color: rgb(0, 119, 255);
}

.skills i {
  color: #333;
}
.projects-cards .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
